
{% load mathfilters %}
<nav aria-label="Page navigation example">
{% if is_paginated %}
<p>Showing {{ page_obj.number|sub:1|mul:10|add:1 }} to {{ page_obj.number|mul:10 }} out of {{prod_count}}</p>
<ul class="pagination justify-content-end">
{% if page_obj.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
{% else %}
  <li class="page-item" class="disabled"><span class="page-link">&laquo;</span></li>
{% endif %}
{% for i in paginator.page_range %}
  {% if page_obj.number == i %}
    <li class="page-item" class="active"><span class="page-link">{{ i }}  <span class="sr-only">(current)</span></span></li>
  {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}  </a></li>
  {% endif %}
{% endfor %}
{% if page_obj.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"> &raquo;</a></li>
{% else %}
  <li class="page-item" class="disabled"><span class="page-link">&raquo;</span></li>
{% endif %}
</ul>
</nav>

{% endif %}

